@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;700&family=Fira+Code&display=swap);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(242, 242, 247);
    color: rgb(57, 57, 57);
    font-family: "Fira Sans";
    font-size: 110%;
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
    word-spacing: 2px;
}

header {
    background: white;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    grid-column: 1 / 4;
    position: sticky;
    top: 0;
}

header > div {
    grid-column: 2;
    padding: 0 32px;
    display: flex;
    align-items: center;
    font-size: 200%;
    gap: 16px;
}

header > div, h1 {
    font-family: "Montserrat";
    font-weight: bold;
}

.banner {
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
    grid-column: 1 / 4;
    background: url(/images/banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner .title {
    grid-column: 2;
    display: inline-block;
    margin: 32px;
    padding: 0 32px;
    background: rgba(0, 0, 0, 0.6);
}

.banner, .banner h1, .banner a {
    color: white;
}

h1 {
    color: rgb(183, 26, 85);
}

main {
    padding: 0 32px;
    grid-column: 2;
}

pre > code {
    border-radius: 16px;
    border: 2px solid rgba(34, 54, 134, 0.25);
}

code {
    border: 1px solid rgba(34, 54, 134, 0.25);
    border-radius: 8px;
    font-family: "Fira Code", monospace;
    word-spacing: 0;
    background: white;
    padding: 0 4px;
}

code.hljs {
  padding: 0 4px;
}

a {
    color: rgb(19, 72, 172);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header a {
    color: rgb(57, 57, 57);
}

.logo {
    border-radius: 100%;
    height: 48px;
}

.spacer {
    flex: 1;
}

.social {
    height: 32px;
    display: block;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: rgb(23, 23, 28);
        color: rgb(244, 244, 244);
    }

    header {
        background: rgb(50, 50, 57);
    }

    header a {
        color: white;
    }

    .social {
        filter: invert(100%);
    }

    pre > code {
        border: 2px solid rgba(180, 206, 244, 0.35);
    }

    code {
        background: rgb(13, 17, 23);
        border: 1px solid rgba(180, 206, 244, 0.35);
    }

    h1 {
        color: rgb(230, 80, 136);
    }

    a {
        color: rgb(130, 190, 242);
    }

    .banner {
        background-color: rgb(160, 160, 160);
        background-blend-mode: multiply;
    }
}
