{{ define "banner" }}
<p>Published on {{ .Date | time.Format ":date_long" }}</p>
{{ with .GetTerms "tags" }}
<p>Tags:
	{{ range $i, $tag := . -}}
		{{ if $i }}, {{ end }}
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{- end }}
</p>
{{ end }}
<p><a href="{{ relref . "/blog" }}">← Back to Posts</a></p>
{{ end }}

{{ define "comments" }}
<h1>Comments</h1>
<p>Please note: this comment system is experimental and may be removed.</p>
<p>Rules: Be excellent to each other!</p>
<iframe id="comments" src="http://competent.soxfox.me/comments/{{ (path.Split .Path).File }}">
{{ end }}
